@{
    ViewData["Title"] = "Контакты";
}
<h2>Контакты</h2>

<address>
    Россия, город Екатеринбург<br />
    Студенческая, 24<br />
    Телефон<br />
    +79321295949
</address>

<address>
    <strong>Помощь и вопросы:</strong> Sasha_Triceps@mail.ru <br />
    <strong>Я ВКонтакте:</strong> <a href="https://vk.com/captain_dirty" target="_blank">Александр Болотов</a>
</address>
