@model List<ClassInputModels>
@{ ViewData["Title"] = "Расчеты";}

<div class="text-center">
    <h1 class="display-4">Выберите данные для расчёта</h1>
</div>

<h2></h2>
<table class="table">
    <thead>
        <tr>
            <th>Id варианта расчёта</th>
            <th>Имя</th>
            <th>Показ данных</th>
            <th>Удаление</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var variant in Model)
        {
        <tr>
            <td>@variant.Id</td>
            <td>@variant.Name</td>
            <td><a href="/Home/Input/@variant.Id">Открыть</a></td>
            <td><a href="/Home/Remove/@variant.Id">Удалить</a></td>
        </tr>
        }
    </tbody>
</table>
<button class="btn btn-primary" id="#Popkee" type="submit" href="/Home/Input/0">Добавить новый расчёт</button>
