@{
    ViewData["Title"] = "Login";
}

<form action="/Login/Index" method="post">
    <h3>Авторизация</h3>
    <div asp-validation-summary="All"></div>
    <div><b>@TempData["Message"]</b></div>
    <div class="row d-flex align-items-end pt-1 pb-5">
        <div class="col-3 col-md">
            <label>Логин</label>
            <input type="text" name="Login" class="form-control" required />
        </div>
        <div class="col-3 col-md">
            <label>Пароль</label>
            <input type="password" name="Password" value="" class="form-control" required />
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Авторизоваться</button>
</form>